.empty {
  text-align: center;
  font-style: italic;
}

.leftColumn,
.rightColumn {
  padding: 20px;
}

.rightColumn {
  flex: 1;
  text-align: center;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}