.nav {
  display: flex;
}

.groups {
  background-color: burlywood;
  width: var( --logo-width );
}
    .groupLink {
      display: block;
      margin: 2px;
      background-color: deeppink;
    }
    .settings {
      background-color: deeppink;
    }


.meets {
  background-color: cadetblue;
  width: var( --platform-nav-width );
}
    .meetLink {
      display: block;
      margin: 2px;
      background-color: deepskyblue;
    }