.root {
  display: flex;
  min-height: 100vh;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.nav {
  flex: 1;
  position: relative;
  width: 200px;
}
.nav::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  border-right: 1px solid #ccc;
  border-left: 1px solid white;
}

.footer {
  text-align: center;
}

.main {
  flex: 1;
}