@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;
}

.padding-left {
    padding-left: 29px;
}

.login-text{
    color: #3F4041;
    margin-left: 10px;
    font-weight: bolder;
}

.router-container {
    width: 80%;
    height: 100%;
}

input {
    text-align: right;
}

/* główny kontener */
.container {

    width: 100%;
    height: 100vh;
    background-color: #FBFBFB;


    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}

.left-container {

    width: 15%;
    height: 100%;


    position: relative;

    display: flex;
    flex-direction: column;
}

.copyright {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

.hr-vertical {
    border-left: 2px solid #F0F0F0;
    height: 80%;

    margin-top: auto;
    margin-bottom: auto;

}

.right-container {

    width: 85%;
    height: 100%;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    padding-top: 0;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #0E6CF8;
    font-size: 25px;

}

nav a {
    text-decoration: none;
    margin-top: 20px;
}

nav a:last-child {
    margin-bottom: 10px;
}

.index-logo {


    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #707070;


}

.index-logo .logo {
    width: 250px;
    height: 250px;
    border: 1px solid #707070;
    border-radius: 50%;
    background-color: #96D588;
}

.logo-text1 {
    font-size: 50px;

    padding-top: 50px;
}

.logo-text2 {
    font-size: 25px;

    padding-top: 20px;
}





/*--------------- login - register - form ------------------------*/
form .under-space {
    margin-top: 50px;
}


.login-form {
    border: 3px solid black;
    width: auto;
    height: auto;



    display: flex;
    flex-direction: column;

}


.login-form-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 3px solid black;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;

}

.logo-mini {
    width: 70px;
    height: 70px;
    border: 1px solid #707070;
    border-radius: 50%;
    background-color: #96D588;
}

.login-form-header-div-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-header-text {
    font-size: 30px;
    color: #3F4041;

}


.login-box {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.login-box form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 30px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #707070;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    margin-left: 20px;
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
}


.login-box-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.center-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box-submit input[type=submit] {
    font-size: 19px;
    padding: 4px 15px;
    margin-left: 10px;
}

.register-box-submit input {
    float: right;
    font-size: 14px;
    padding: 4px 15px;
    margin-top: 10px;
}

.textbox-remindPassword {
    margin-top: 30px;
}

/*            Po zalogowaniu      */

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
}



.avatar-container img {
    width: 70px;
    height: 70px;

    border-radius: 50%;
}

.hr-under-menu {
    margin-left: 15px;
    float: left;
    width: 70%;

}

.platform-list {

    width: 100%;
    height: 40%;
    display: flex;

    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    gap: 2px;
    margin-bottom: 80px;
}





.platform-list::-webkit-scrollbar {
    width: 10px;
}

.platform-item-container {
    min-width: 40%;
    height: 70px;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}




.platform-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #DC6086;
    border: 1px solid #707070;
    border-radius: 50%;
}

.platform-item:hover {
    border-radius: 30%;
    background-color: #d67a96;

}

.platform-item-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.platform-item-add img {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.platform-item-add:hover {
    border: 1px solid #707070;
    border-radius: 30%;
    background-color: #fceff3;

}

/* mój profil  */


.right-container-profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.right-container-profile-left {
    width: 30%;
    height: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right-container-profile-left-text {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.subjects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    height: 200px;
    overflow: auto;

}

.subject {
    display: flex;
    flex-direction: row;
    padding-left: 40px;

    width: auto;

}

.subject-icon {
    margin-top: auto;
    margin-bottom: auto;
    width: 10px;
    height: 10px;
    background-color: #96D588;
    margin-right: 5px;
}

.subject-name {
    font-size: 25px;
}

.right-container-profile-right {

    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar {
    border: 5px solid black;
    width: 95%;
    height: 95%;
    background-color: #fff;
}

.calendar-header {
    border-bottom: 5px solid black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-header span {
    font-size: 25px;
}


/*     ustawienia   */

.right-container-settings {
    width: 85%;
    height: 100%;



    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

}

.right-container-settings::-webkit-scrollbar {
    width: 10px;
}

.avatar-container-text {
    font-size: 20px;
    margin-top: 10px;
}

.hr-horizontal {
    border-bottom: 2px solid #F0F0F0;
    margin-top: 30px;
    width: 60%;
}

.settings-form {
    margin-top: 50px;
    width: 100%;



}

.settings-form>form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.settings-form-element:first-of-type {
    margin-top: -20px;
}

.settings-form-element {


    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
    margin-left: 100px;
}

.settings-form-element-label {

    width: 30%;
    text-align: right;
    padding-right: 5px;


}

.settings-form-element-input {
    width: 80%;

}

.settings-form-element-input input {
    width: 60%;
    height: 25px;
}

.settings-form-element-button input {
    width: auto;
    min-width: 30%;
    background-color: #8FC28D;
    text-align: center;

    height: auto;

}

.grades {

    width: 95%;
    height: 95%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
}

.grades-filtre-container {
    width: 100%;
    height: 30%;

}

.grades-gained-container {
    width: 100%;
    height: 50%;

}

.grades-gained-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px 10px;


}

.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-top: none; 
    font-size: 15px;
    
}
.grid-item input{
    box-shadow: none;
    border: none;
    text-align: left;
    outline: none;
    width:100px;
    
    
    
}



.grades-gained-container-grid-new-row {
    display: contents;
}

.przedmiot{ border-left: none !important ; }
.ocena-koncowa{ border-right: none !important ; }
.empty{ border-top: 1px solid black;}
.empty3{border-right: 1px solid black;}
.srednia-koncowa{ border-bottom: none !important; border-right: none !important;border-top: 1px solid black;}

textarea{
    width: 60%;
    height: 140px;
}



.back-main-view{
    font-size: 15px;
    margin-right: 90px;
    position:absolute;
   top:10px;
   right:0px;

}


.filtre-add-user-wrapp {
    display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding: 5px 10px;
      max-width:  800px;

      margin-left: auto;
      margin-right: auto;
  }

  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
      border-top: none;

      font-size: 15px;
      text-align: center;
  }
  .grades-gained-container-grid-new-row {
    display: contents;
  }
  .empty-filtre-user{
    border: none;
  }
  .filtruj{
    border: none;
    text-align: right;
    padding-right: 25px;
  }
  .dodaj{border:none;text-align: right; padding-right: 25px; color: black;}
  .znak{border:none; text-align:left; font-weight: bold; padding-left: 20px; font-size: 30px;}
  .imie{border-left:none;}
  .border-bottom-none{
    border-bottom: none;
  }
  .rola{
    border-right:none;
  }
  .delete{color:red; font-size: 30px !important;} 

  .grid-item input[type=submit]{
      border: none; 
      background: none;
      font-size: 40px;
      width: 30px !important;
  }
 


.platform-users{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.platform-users input{
    width: 200px;
}

.grid-filtre{

    margin-top: 100px;

}

.filtre-add-group-wrapp{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px 10px;
    max-width:  800px;

    margin-left: auto;
    margin-right: auto;
}


a{
    text-decoration: none;
}

.platform-adding {
    width: 90px;
    height: 90px;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}


.platform-adding-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #DC6086;
    border: 1px solid #707070;
    border-radius: 50%;
}

.error-mess{
    font-size: 10px;
}


.grid-add-user-group {
    display: grid;
    grid-template-columns: repeat(5,  1fr);
    max-width:  800px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    
    grid-template-areas:
      "funkcja1 imie1 nazwisko1 rola1 znak1"
      "funkcjaF imieF nazwiskoF rolaF znakF"
      "funkcjaD imieD imieD rolaD znakD"
      ;
  }
  .funkcja1{grid-area: funkcja1;}
  .imie1{grid-area: imie1;}
  .nazwisko1{grid-area: nazwisko1;}
  .rola1{grid-area: rola1;}
  .znak1{grid-area: znak1;}
  .funkcjaF{grid-area: funkcjaF;} 
  .imieF{grid-area: imieF;}
  .nazwiskoF{grid-area: nazwiskoF;}
  .rolaF{grid-area: rolaF;}
  .znakF{grid-area: znakF;}
  .funkcjaD{grid-area: funkcjaD;}
  .imieD{grid-area: imieD;}
  .rolaD{grid-area: rolaD;} 
  .znakD{grid-area: znakD;}
  
  
  
  
  
  
  .box {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-top: none;
    font-size: 15px;
    text-align: center;
  }
  .grid-add-user-group-new-row {
    display: contents;
  }
  
  .funkcja{
    border:none;text-align: right; padding-right: 25px; color: black;
  }
  .znak{border:none; text-align:left; font-weight: bold; padding-left: 20px; font-size: 30px;}

  .box input[type=submit]{
    border: none; 
    background: none;
    font-size: 40px;
    width: 30px !important;
}






  .border-1{
      border: 1px solid black;
  }