.form {
  min-width: 250px;
  height: unset;
  padding: 10px;
}
.centered,
.tab {
  display: flex;
  min-height: 200px;
  align-items: center;
  justify-content: center;
}
.switches {
  display: flex;
}
.switch {
  flex-grow: 1;
}
.input {
  display: block;
  margin: 5px;
}
.button {
  display: block;
  margin: 15px;
}