.nav{}

.selectedPlatform {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

    .platform {
      flex-grow: 1;
    }

.toggleBox {
  background-color: var( --background-color );
}

    .navSwitch {}

        /* .navSwitch:hover {
          background-color: var( --green );
        }

        .navSwitch:hover::after {
          border-left-color: white;
          border-bottom-color: white;
        } */

    .items {
      overflow: hidden;
    }

    .item {
      display: block;
      padding: 5px;
    }

        .item:not( :last-child ) {
          border-bottom: 1px solid #aaa;
        }

    .item:hover {
      background-color: white;
    }
