.tag {
  color: #aaa;
}

.participants {
  margin: 5px;
  padding: 5px;
  background-color: #0000000a;
  width: 200px;
}

.is-highlightable {
  transition: background-color 0.1s;
}
.is-highlightable:hover,
.highlighted {
  background-color: white;
  border-radius: 10px;
}