.layout {
  display: flex;
  padding-top: 10px;
  height: calc( 100vh - var( --top-height ) );
}

.screen {
  position: relative;
  flex: 1;
  padding: 20px;
  background-color: black;
  border-top-right-radius: 10px;
}

    .nav {
      position: absolute;
      left: 50%;
      transform: translateX( -50% );
      width: max-content;
      padding: 5px;
      border-radius: 10px;
      background-color: var( --background-color );
    }
        .mainNav {
          bottom: 50px;
        }
        .tool {
          margin: 0 10px;
        }

    .tab,
    .tabContent {
      width: 100%;
      height: 100%;
    }


.column {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}
    .users {
      flex: 1;
    }
        .user {
          padding: 10px;
        }

    .buttons {
      display: flex;
      justify-content: space-around;
    }


/* CHAT */

.chat {
  display: flex;
  flex-direction: column;
}
.chatMessage {
  position: relative;
  margin: 10px 0;
}
.chatMessageAuthor {
  font-size: 13px;
}
.chatMessageContent {
  margin-left: 10px;
}
.chatMenu {
  position: absolute;
  top: 0;
  right: 0;
}