.content {
  padding: 100px;
}
.content:not( .is-centered-and-splited ) {
  flex-direction: column;
}
.content.is-centered-and-splited > * {
  flex-grow: 1;
  flex-basis: 0;
}
.reducedWidthContent {
  margin: 0 auto;
  min-width: 750px;
}
.flexList {
  display: flex;
}