.root {
  --top-height: 3em;
  --logo-width: 75px;
  --platform-nav-width: 250px;

  display: grid;
  grid-template:
    "header"  var( --top-height )
    "wrapper" calc( 100vh - var( --top-height ) )
}



.header {
  grid-area: header;
  display: grid;
  grid-template:
    "path         .   search      user"       var( --top-height ) /
     max-content  1fr max-content max-content;
}
    .navigationPath {
      grid-area: path;
      display: flex;
    }
        .navigationPath > :not( :last-child ) {
          position: relative;
          margin-right: 40px;
        }
        .navigationPath > :not( :last-child )::after {
          content: ">";
          position: absolute;
          left: calc( 100% + 15px );
          top: calc( 50% - 10px );
          display: block;
        }

    .search {
      grid-area: search;
    }
    .userField {
      grid-area: user;
    }



.contentWrapper {
  grid-area: wrapper;
}