.root {
  --topHeight: 3em;

  display: grid;
  grid-template:
    "columnA  columnB header" var( --topHeight )
    "columnA  columnB main"   calc( 100vh - var( --topHeight ) - 30px )
    "footer   footer  main"   30px /
     75px    200px   1fr;
}


.columnA {
  grid-area: columnA;
  display: grid;
  grid-template:
    "logo" var( --topHeight )
    "mainNav";
}
    .logo {
      grid-area: logo;
      background-color: yellowgreen;
      font-size: 10px;
    }
    .mainNav {
      grid-area: mainNav;
      background-color: burlywood;
    }


.columnB {
  grid-area: columnB;
  display: grid;
  grid-template:
    "user" var( --topHeight )
    "subNav";
}
    .userField {
      grid-area: user;
      background-color: rosybrown;
    }
    .subNav {
      grid-area: subNav;
      display: flex;
      flex-direction: column;
      background-color: rebeccapurple;
    }
        .subNavField {
          padding: 5px;
          margin: 5px;
          background-color: violet;
        }
            .subNavField::before {
              content: ">";
            }


.header {
  grid-area: header;
  display: grid;
  grid-template:
    "linksPath  search" 50px /
     1fr        300px;
  background-color: gold;
}
    .linksPath {
      grid-area: linksPath;
      display: flex;
      align-items: center;
      padding: 0 1em;
      background-color: red;
    }
    .search {
      grid-area: search;
      background-color: gray;
    }


.main {
  grid-area: main;
  background-color: aqua;
}


.footer {
  grid-area: footer;
  background-color: forestgreen;
}