.root {
  display: grid;
  grid-template:
    "main"   calc( 100vh - var( --top-height ) - 30px )
    "footer" 30px
}

.main {
  grid-area: main;
  background-color: gray;
}

.footer {
  grid-area: footer;
  background-color: gray;
}