.main {
  display: grid;
  grid-template:
    "groups .     .         ." 100px
    "groups .     calendar  ." calc( 100vh - var( --top-height ) - 200px )
    "groups .     .         ." 100px /
     300px  100px 1fr       100px;
}

.groups {
  grid-area: groups;
  background-color: purple;
}

.calendar {
  grid-area: calendar;
  background-color: goldenrod;
}
