.rightColumn {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 350px;
  height: 90vh;
  padding-left: 20px;
  position: relative;
/*
  border: 1px solid black;
  */
}
.rightColumn h2 {
  text-align: center;
}
.wrapper {
  display: flex;
  margin-left: 120px;
}

.rightColumn:nth-child(2):after{
  content: "";
  border-left: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 1px;
}