.rightColumn {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 350px;
  height: 90vh;
  padding-left: 20px;
  position: relative;
/*
  border: 1px solid black;
  */
}
.rightColumn h2 {
  text-align: center;
}
.wrapper {
  display: flex;
  margin-left: -60px;
}

.rightColumn:nth-child(2):after{
  content: "";
  border-left: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 10%;
  height: 80%;
  width: 1px;
}

.rightColumnWithOverFlow {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  height: 100vh;
  /*overflow:scroll;*/
}

.sectionTitle{
  font-weight:900;
  font-size: 25px;
}