.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sygnet {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #96d588;
  border-radius: 50%;
  border: 1px solid #aaa;
}

.logotype {
  font-size: 40px;
}

.brand {
  font-size: 20px;
}